################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Mozaika/.vs/Mozaika/v16
/Mozaika/Mozaika/bin/Debug
/Mozaika/Mozaika/obj/Debug
/.vs/mozaikaRepo/v16/TestStore/0
/.vs
